body {
  background-color: #fff8db;
}

a {
  color: #00B7FF;
}

.banner {
  margin-top: -8px;
  z-index: -1000;
  height: 350px;
}

.nav-wrapper {
  background-color: #a81010 !important;
}

nav {
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

#marquezlogo {
  margin-top: -25%;
  margin-left: 35%;
  font-size: 126px;
  color: rgba(255,255,255,.75);
  font-family: 'Butterfly Kids', cursive;
}

.cardss {
  display: inline-block;

}

.cards {
  width: 317px !important; 
  padding: 20px !important;



}

.container {
  margin-top: 5% !important;
  margin-left: 5% !important;
}

.contactform {
  background-color: white;
  width: 300px !important;
  margin-top: -30% !important;
  margin-left: 70% !important;
  border-radius: 20px !important;
}

#background {
  width: 1280px;
  z-index: -1000;
  margin-top: 10% ;
}

.newstud {
  background-color: white;
  border: 1px solid black;
}

.fullcards {
  margin-left: 14% !important;
 
}

.titles {
  text-decoration: underline;
}