<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Marquez Tutoring</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <nav>   
        <div class="nav-wrapper navbarmain">
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li>
                        <a class="" href="/">Home</a>
                    </li>
                    <li>
                        <a class="" href="">Parents</a>
                    </li>
                    <li>
                        <a class="" href="/students">Students</a>
                    </li>
                    <li>
                    <a class="" href="#">About</a>
                    </li>  
                </ul>
                <ul class="right">
                <% if (user) { %>
                    <li><a href="/logout"><i class="material-icons left"></i>Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/google"><i class="material-icons left"></i>Login with Google</a></li>
                <% } %>
            </ul>
        </div>
    </nav>