<%- include('./../_partials/header') %>
    	<form action="/users" method="post">
		<div class="row addform">
			<h1>New User</h1><input name="username" placeholder="Name" type="text"> <input  name="password" placeholder="Password" type="password"> <span class="input-group-btn"><button class="button butstyles" id="indexsrch" type="submit"><span class="input-group-btn">Submit</span></button></span>
		</div>
	</form>

  </body>
</html>